@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap'); 

body{
	.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #E43E3D;

}

nav {
	background: #E43E3D;
	box-shadow: 10px 10px 5px rgba(0,0,0,/0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	text-align: right;

	.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #7B5554;

}

 nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 1.5rem;

 }


 nav ul li a{
	text-decoration: none;
	color:#7B5554;


 }

 nav a.logo img { 
	width: 350px;

 }

 nav a.btn{

 	padding:1rem 2rem;
 	background: #F3DDD7 ;
 	border-radius: 10px;
 	text-decoration: none;
  color: #7B5554 ;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  
}

 header{ 
 	background-color: #7B5554;
 	background-image: url("../photos/headerbackground.jpg");
 	background-size: conatin;
 	 width: 1440 px;
  	height: 844 px;
 	padding: 12 rem 2rem; 
 	text-align: center;
 	border:none;
 	font-family: "Kanit",sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	text-size: 48 px;
    color: #F3DDD7;
    

 }


header h1{
	  
	  font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:96px;
	  color: #F3DDD7;
	  margin-top: 0px;
	  margin-bottom: 10px;
}

header p{

	text-size: 20 px;
    color: #F3DDD7;
    
}



 .btn2{

 	padding:1rem 2rem;
 	background: #E43E3D ;
 	border-radius: 10px;
 	text-decoration: none;
  color: #F3DDD7 ;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
 }


section {

	background-color: #E43E3D;

}

.alert{
  background-color: #F3DDD7;
  padding: 0 px;
  margin: 0 px:
}


section h2{ 
	font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:64 px;
	  color: #7B5554;

 }

 section h3{ 
font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:48 px;
	  color: #F3DDD7;

  }

 #missionstatement{ 


	.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F3DDD7;
  font-size: 40 px;


  }



footer{
	background: #E43E3D;
	box-shadow: 10px 10px 5px rgba(0,0,0,/0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	text-align: right;

	.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: ;32px
  color: #7B5554;


}

 footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 1.5rem;
	text-decoration: none;

 }

 footer a.logo img { 
	width: 250px;

 }