@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap'); 




body{
	.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #7B5554;

}

nav {
	background: #E43E3D;
	box-shadow: 10px 10px 5px rgba(0,0,0,/0.5);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 1rem 2rem;
	align-items: center;
	text-align: right;
	
	

	.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #7B5554;

}

 nav ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-grow: 2;
	justify-content: space-around;
	flex-wrap: nowrap;


 }


 @media screen and (max-width: 480px){
 	nav{
 		display: flex;
		flex-direction: column;}
		
 }



 nav ul li a{
	text-decoration: none;
	color:#7B5554;

 }


 nav a.logo img { 
	width: 250px;

 }


 nav a.btn{

 	padding:16px;
 	background: #F3DDD7 ;
 	border-radius: 10px;
 	text-decoration: none;
 	text-align: center;
  color: #7B5554 ;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  
}




 #homeheader{
 	height: 450px;
 	background-image: url("../photos/background.svg");
  	text-align: center;
 	border:none;
 	font-family: "Kanit",sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	text-size: 48 px;
    color: #F3DDD7;

 }





header h1{
	  
	  font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:96px;
	  color: #F3DDD7;
	  margin-bottom: 0px;
	  margin-top:0px;
}

 @media screen and (max-width: 480px){
 	header h1{
		font-size: 45px;}

 }

header p{

	text-size: 20 px;
    color: #F3DDD7;
    margin-top: 0px;
    margin-bottom: 50px;

}



 .btn2{
 	flex-shrink: 20px;
	padding:16px;
 	background: #E43E3D ;
 	border-radius: 10px;
 	text-decoration: none;
 	text-align: center;
	  color: #F3DDD7 ;
	  font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size: 28px;
 }



.center{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #F3DDD7;
	  border: 3px;
	  border-color: #7B5554;
	  padding: 20px;
	  font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:64 px;
	  color: #7B5554;
	  text-align: center;


}

.btn3{

 	padding:16px;
 	background: #E43E3D ;
 	border-radius: 10px;
 	text-decoration: none;
 	text-align: center;
  color: #7B5554 ;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  
}


@media screen and (max-width: 480px){
 	.center{
		width: 175px;
	margin: auto;}

	}


section h2{ 
	font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:64 px;
	  color: #7B5554;
	  display: flex;
	justify-content: center;
	align-text: center;

 }

@media screen and (max-width: 480px){
 	section h2{
		font-size: 20px;}
}



#education{
	display:flex;
	flex-direction: column;
	justify-content: center;
 


}


#education iframe{
	justify-content: left;
}

  #question{ 
	font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:48 px;
	  color: #F3DDD7;
	 

   }




@media screen and (max-width: 480px){
iframe {
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: right;
}
}



  #noworries{ 

	.kanit-regular;
	  font-family: "Kanit",sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  color: #F3DDD7;
	  font-size: 40 px;
	
   }




 section h5{ 
 	margin-bottom: 60px;
 	background-color: #7B5554;
 	height: 450px;
 	background-position:right center ;
	font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size: 36px;
	  color: #F3DDD7;
	  text-align: left;
  }


@media screen and (max-width: 480px){
	img {
    width: 100%;
    height: auto;
    max-width: 100%;}
}


@media screen and (max-width: 480px){
	 h5 {
    font-size: 16px;}
}



img{ 
	margin-top: 0px;
	width:300px;}






  section, #filters{
  	margin-bottom: 60px;
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:34x;
	 color: #F3DDD7;
   }

table{ 
width: 100%;
text-align: center;
margin-bottom: 30px;

 }

  table, th, td {
  background-color: #F3DDD7;
  border:3px solid;
  border-color:#7B5554 ;
}


table, th{ 
font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:48 px;
	  color: #7B5554;

 }


 table, td{ 
.kanit-regular;
	  font-family: "Kanit",sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  color: #7B5554;
	  font-size: 40 px;

  }

footer{
	background: #E43E3D;
	box-shadow: 1px 5px 13px black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: right;

	.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: ;32px
  color: #7B5554;


}

 footer ul{
 	display: flex;
 	flex-direction: row;
 	justify-content: space-around;
 	flex-grow: 2;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 1.5rem;
	text-decoration: none;

 }

 footer a.logo img { 
	width: 250px;

 }



 @media screen and (max-width: 480px){
 	footer{
		flex-direction: column;
		gap: 1rem;}
	}


 footer ul li a{
 	display: flex;
 	flex-direction: column;
	text-decoration: none;
	color:#7B5554;
	text-size: 50px;

}


footer h6{
font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size: 28px;
	  color: #F3DDD7;

}

#formheaders{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#formtitle{
margin-bottom: 0px;
.kanit-regular;
  font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	  font-style: normal;
  font-size: 16px;
  color: #F3DDD7;
 

}


#formsubtitle{
margin-top: 0px;
.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #F3DDD7;
}






  input{
  		background-color: #F3DDD7 ;
		 color: #7B5554 ;
		 display: inline-flex;
		 border-radius: 5px;
		 border-color: #7B5554;
		 
  }


  #message{ 
  	width: 396px;
  	height: 75px;
  	text-align: justify-all;
  	text-algin: left;
  	


   }


@media screen and (max-width: 480px){
 	input{
		flex-direction: column;
		gap: 1rem;}



#aboutheader{
	background-color: #7B5554;


}