@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap'); 




body{
	.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #E43E3D;

}

nav {
	background: #E43E3D;
	box-shadow: 10px 10px 5px rgba(0,0,0,/0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	text-align: right;

	.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #7B5554;

}

 nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 1.5rem;

 }


 @media screen and (max-width: 480px){
 	nav{
		flex-direction: column;
		gap: 1rem;}

 }



 nav ul li a{
	text-decoration: none;
	color:#7B5554;

 }


 nav a.logo img { 
	width: 250px;

 }


 nav a.btn{

 	padding:16px;
 	background: #F3DDD7 ;
 	border-radius: 10px;
 	text-decoration: none;
 	text-align: center;
  color: #7B5554 ;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  
}




 header{
 	height: 450px;
 	background-color: #7B5554;
 	background-image: url("../photos/background.svg");
 	background-image: center;
 	text-align: center;
 	border:none;
 	font-family: "Kanit",sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	text-size: 48 px;
    color: #F3DDD7;
   

 }



header h1{
	  
	  font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:96px;
	  color: #F3DDD7;
	  margin-bottom: 0px;
	  margin-top:0px;
}


@media screen and (max-width: 480px){
 	header{
		text-size: 50%}

 }

header p{

	text-size: 20 px;
    color: #F3DDD7;
    margin-top: 0px;
    margin-bottom: 50px;

}





 .btn2{

 	padding:1rem 2rem;
 	background: #E43E3D ;
 	border-radius: 10px;
 	text-decoration: none;
  color: #F3DDD7 ;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
 }


section {

	background-color: #E43E3D;

}

.center{
	background-color: #F3DDD7;
	width: 350px;
	margin: auto;
	 width: 50%;
	  border: 3px;
	  border-color: #7B5554;
	  padding: 10px;
	  font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:64 px;
	  color: #7B5554;
	  text-align: center;


}


section h2{ 
	font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:64 px;
	  color: #7B5554;
	  display: flex;
	justify-content: center;
	align-text: center;

 }

 section h3{ 
font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:48 px;
	  color: #F3DDD7;
  }


@media screen and (max-width: 480px){
	img {
    width: 100%;
    height: auto;
    max-width: 100%;}
}


	
img{ 
	margin-top: 75px;
	width:300px;}




 section p{ 
	font-family: "Kanit",sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	text-size: 48 px;
    color: #F3DDD7:;

  }



  #education{ 
  	background-color:#F3DDD7;
   }


  #question{ 
	font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:48 px;
	  color: #7B5554;

   }

@media screen and (max-width: 480px){
iframe {
    width: 100%;
    height: auto;
    max-width: 100%;}
}


  

  #noworries{ 
	.kanit-regular;
	  font-family: "Kanit",sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  color: #7B5554;
	  font-size: 40 px;
	text-align: left;
   }


  section, #filters{
	font-family: "Archivo Black", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size:34x;
	 color: #F3DDD7;

   }

table{ 
width: 100%;
text-align: center;
margin-bottom: 30px;

 }

  table, th, td {
  background-color: #F3DDD7;
  border:3px solid;
  border-color:#7B5554 ;
}


table, th{ 
font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:48 px;
	  color: #7B5554;

 }


 table, td{ 
.kanit-regular;
	  font-family: "Kanit",sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  color: #7B5554;
	  font-size: 40 px;

  }

footer{
	background: #E43E3D;
	box-shadow: 10px 10px 5px rgba(0,0,0,/0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	text-align: right;

	.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: ;32px
  color: #7B5554;


}

 footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 1.5rem;
	text-decoration: none;

 }

 footer a.logo img { 
	width: 250px;

 }



 @media screen and (max-width: 480px){
 	footer{
		flex-direction: column;
		gap: 1rem;}
	}


 footer ul li a{
	text-decoration: none;
	color:#7B5554;
	text-size: 50px;

}


footer h4{
font-family: "Archivo Black", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  font-size:48 px;
	  color: #F3DDD7;


}

footer p{
.kanit-regular;
  font-family: "Kanit",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: ;32px
  color: #F3DDD7;

}



  input{
  		color: #7B5554 ;
  		.kanit-regular;
		  font-family: "Kanit",sans-serif;
		  font-weight: 400;
		  font-style: bold;
		  font-size: ;32px
		  width: 50 px;
		  height: 20px;
		 
  }

  #message{ 
  	width: 193px;
  	height: 75px;


   }


